:root {
  --bg-color-primary-1: hsl(263, 55%, 52%);
  --bg-color-primary-2: hsl(217, 19%, 35%);
  --bg-color-primary-3: hsl(219, 29%, 14%);
  --bg-color-primary-4: hsl(0, 0%, 100%);

  --text-color-light-1: hsl(0, 0%, 81%);
  --text-color-light-2: hsl(210, 46%, 95%);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.3rem;
  background-color: var(--text-color-light-2);
}

section {
  margin: 0rem auto;
  width: 1000px;
}

.heading-main {
  font-weight: 600;
  color: var(--text-color-light-1);
}

.heading-main-white-grid {
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.text-main {
  color: var(--text-color-light-1);
}

.grid-testimonial {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 3rem;
  height: 1rem;
}

.grid-section {
  padding: 2rem;
}

.grid-item-3 {
  grid-column: 3 / 4;
  grid-row: 1 / span 2;
}

.img-box {
  display: flex;
  align-items: center;
}

.customer-img {
  border-radius: 50%;
  margin-right: 1rem;
}

.first-img {
  border: 1px solid #fff;
}

.last-img {
  border: 1px solid var(--bg-color-primary-1);
}

.light-style-name {
  color: var(--text-color-light-1);
}

.bold-style-name {
  color: black;
}

.customer-status {
  opacity: 50%;
}

.text-main {
  opacity: 70%;
}

.grid-item-1 {
  background-color: var(--bg-color-primary-1);
}

.grid-item-2 {
  background-color: var(--bg-color-primary-2);
}

.grid-item-3 {
  background-color: var(--bg-color-primary-4);
}

.grid-item-4 {
  background-color: var(--bg-color-primary-4);
}

.grid-item-5 {
  background-color: var(--bg-color-primary-3);
}

/* .testimonial-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: 40px;
  font-size: 30px;
  column-gap: 20px;
  row-gap: 40px;
}

.item-1 {
  background-color: orangered;
}

.item-2 {
  background-color: greenyellow;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.item-3 {
  background-color: aquamarine;
}

.item-4 {
  background-color: blueviolet;
  grid-column: 4 / 5;
  grid-row: 1 / span 2;
}

.item-5 {
  background-color: rebeccapurple;
}

.item-6 {
  background-color: goldenrod;
}

.item-7 {
  background-color: palevioletred;
}

.item-8 {
  background-color: darkred;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
} */
