html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.5rem;
  background-color: rgb(181, 174, 174);
}

section {
  margin: 0rem auto;
  /* width: 600px; */
}

/* .testimonial-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  margin: 40px;
  font-size: 30px;
  column-gap: 20px;
  row-gap: 40px;
}

.item-1 {
  background-color: orangered;
}

.item-2 {
  background-color: greenyellow;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.item-3 {
  background-color: aquamarine;
}

.item-4 {
  background-color: blueviolet;
  grid-column: 4 / 5;
  grid-row: 1 / span 2;
}

.item-5 {
  background-color: rebeccapurple;
}

.item-6 {
  background-color: goldenrod;
}

.item-7 {
  background-color: palevioletred;
}

.item-8 {
  background-color: darkred;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
} */
